@import url('https://fonts.googleapis.com/css2?family=Inspiration&display=swap');
*{
    padding: 0;
    margin: 0;
} 

body{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5) , rgba(0, 0, 0, 0.8)), url("/css/diwalipic.jpg");;
    background-size:cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.counter {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 15px;
}
p{
    font-size: 13px;
    color: #fff;
}
.box small {
    margin-top: 20px;
    font-size: 13px;
    color: #fff;
}
.head {
    font-family: 'Inspiration', cursive;
    font-size: 20px;
    color: #fff;
}
@media (min-width:576px) {
  .head{
      font-size: 20px;
  }
p {
    font-size: 15px;
}
small {
    font-size: 12px;
}
}
@media (min-width:786px) {
     .head{
      font-size: 40px;
  }
  p {
    font-size: 24px;
}
small {
    font-size: 20px;
}
}
@media (min-width:978px) {
    .head{
        font-size: 80px;
    }
    p {
        font-size: 35px;
    }
    small {
        font-size: 52px;
    }
}